@mixin mediaMd {
    @media screen and (min-width: 600px) and (max-width: 991px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width: 992px) {
        @content;
    }
}

@mixin mediaXL {
    @media screen and (min-width: 1240px) {
        @content;
    }
}

/* mobile */
/* tablets */
/* desktops and laptops */

@include mediaLg {
    

    header {
        padding: 45px 0;
        
        .logo {
            margin-left: 100px;
        }
    
        .toggle-btn {
            display: none;
        }
    
        nav {
            position: relative;
            width: auto;
            height: auto;
            min-height: 40px;
            background: transparent;
            display: block;
    
            .nav-links {
                margin-top: 0px;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: row;
    
                .link {
                    width: auto;
                    padding: 0px;
                    margin-left: 40px;
                    border-bottom: none;
    
                    a {
                        font-size: .8rem;
                        color: color(neutral-darkblue);
                    }
    
                    a:hover {
                        color: color(primary-red);
                    }
                }
    
                .link:nth-of-type(1) {
                    border-top: none;
                }
    
                .login {
                    display: inline;
                    margin: 0px 100px 0px 50px;
    
    
                    a {
                        font-size: .8rem;
                        border: 2px solid color(primary-red);
                        background-color: color(primary-red);
                        border-radius: 5px;
                        padding: 10px 30px;
                        color: #fff;
                    }
    
                    a:hover {
                        color: color(primary-red);
                        border-color: color(primary-red);
                        background-color: #fff;
                    }
                }
            }
            .nav-social-links{
                display: none;
            }
        };
    }


    .hero {
        margin-top: 80px;
    
        .hero-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    
        .hero-image {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            margin-left: 10px;
            margin-right: 50px;
        }
    
        .hero-bg-image {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            z-index: -1;
    
            .bg-shape{
                background-color: color(primary-blue);
                width: 75%;
                height: 70%;
                border-bottom-left-radius: 150px;
                border-top-left-radius: 150px;
            }
        }
    
        .hero-content {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            margin-top: 75px;
            margin-left: 100px;
            margin-bottom: 60px;
            text-align: left;
    
            h1 {
                max-width: 550px;
                margin-bottom: 25px;
                font-size: 2.5rem;
            }
    
            p {
                max-width: 450px;
                margin-bottom: 35px;
                padding: 0px;
                font-size: 1rem;
                line-height: 1.7rem;

            }
    
            .hero-buttons {
                justify-content: flex-start;
                
                .btn-blue, .btn-grey {
                    margin: 0 15px 0 0;
                }
    
            }
    
        }
    }
    
    .features-head {
        max-width: 480px;
    
        h2 {
            font-size: 1.9rem;
            margin-bottom: 20px;
        }

        p {
            font-size: 1rem;
            line-height: 1.7rem;
        }
    }
      
    .tab-links {
        width: 730px;
        margin: 0 auto 0 auto;
        border-bottom: 1px solid lighten(color(neutral-greyblue), 30%);

    }
    
    .tablink {
        width: 240px;
        padding: 30px 0px;
        font-size: .9rem;
        border: none;
        border-bottom: none;
    }
    
    .tablink:nth-of-type(1) {
        border-top: none;
    }
    
    .highlight {
        left: 0;
        margin-left: 0px;
        width: 240px;
    }
    
    .active .highlight {
        opacity: 1;
    }
    
    .tabcontent {
        display: none;
    
        .grid {
        display: grid;
        grid-template-columns: 50% 50%;
        }
    
        .tab-image {
            grid-column: 1 / 2 ;
            grid-row: 1 / 2;
            margin-left: 100px;
            margin-right: 20px;
            margin-top: 0px;
            padding: 0px 0px 45px;
            
        }
    
        .bg-image {

            .bg-shape{
                height: 75%;
                height: 70%;
                border-bottom-right-radius: 150px;
                border-top-right-radius: 150px;
            }
    
        }
    
        .tab-text {
                grid-column: 2 / 3 ;
                grid-row: 1 / 2;
                margin: 60px 0px 20px 40px;
                max-width: 390px;
                text-align: left;
                justify-self: left;
    
            h2 {
                font-size: 2rem;
            }
        
            p {
                font-size: 1rem;
                line-height: 1.7rem;
                padding: 20px 0px 0px;
                margin-bottom: 40px;
            }
        
            a {
                visibility: visible;
            }
        }
    }



.download {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.download-head {
    margin: 150px 40px 0px;
    max-width: 490px;

    h2 {
        font-size: 1.9rem;
        margin-bottom: 30px;
    }

    p {
        font-size: 1rem;
        line-height: 1.7rem;
    }
}

.cards {
    display: flex;
    flex-direction: row;
}

.card:nth-of-type(1) {
    margin-top: 0px;
}

.card:nth-of-type(2) {
    margin-top: 80px;
}

.card:nth-of-type(3) {
    margin-top: 160px;
}

.faq {
    padding:120px 30px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;

    .faq-head {
        width: 100%;
        max-width: 450px;
        
        h2 {
            padding-bottom: 25px;
        }

        p {
            font-size: 1rem;
            line-height: 1.9rem;
            padding-bottom: 60px;
        }
    }

    .faq-collapsibles {
        width: 100%;
        max-width: 525px;
        margin-bottom: 45px;
    }
}

.collapsible {
    font-size: 1rem;
    }

    .collapsible-content {

        p {
            font-size: 1rem;
            line-height: 1.9rem;
        }
    }

    .newsletter {
        .container {
            .newsletter-head {
                max-width: 440px;

                h2 {
                    font-size: 2rem;
                }

            }
        }
    }

    form {
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 460px;

        .form-submit {
            
            .submit-btn {
                width: 130px;
                margin-top: 0px;
            }
        }
    }

    .bottom {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .logo-bottom {
            padding-left: 100px;
            padding-right: 40px;
        }
    
        .bottom-links {
            padding-top: 0px;    
    
            .bottom-link {
                display: inline;
                padding-right: 30px ;
            }
        }

        .social-links {
            margin-left: auto;
            margin-right: 100px;
        }

        .social-links a {
            margin: 0px 0px 0px 40px;
        }
    }


}


/* large screens */

@include mediaXL {

    header {
        
        .logo {
            margin-left: 170px;
        }
    
        nav {
            .nav-links {
                .link {
                    margin-left: 40px;
                }
                .login {
                    margin: 0px 165px 0px 50px;
                }
            }
        };
    }


    .hero {
        margin-top: 80px;
    
        .hero-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    
        .hero-image {
            margin-left: 10px;
            margin-right: 50px;
        }
    
        .hero-content {

            margin-top: 75px;
            margin-left: 170px;
            margin-bottom: 60px;
            text-align: left;
    
            h1 {
                max-width: 550px;
                margin-bottom: 25px;
                font-size: 3rem;
            }
    
            p {
                max-width: 550px;
                margin-bottom: 35px;
                padding: 0px;
                font-size: 1.2rem;
                line-height: 1.7rem;

            }
    
            .hero-buttons {
                justify-content: flex-start;
                
                .btn-blue, .btn-grey {
                    margin: 0 15px 0 0;
                }
    
            }
    
        }
    }
    
    .features-head {
        max-width: 530px;
    
        h2 {
            font-size: 1.9rem;
            margin-bottom: 20px;
        }

        p {
            font-size: 1.1rem;
            line-height: 1.7rem;
        }
    }
      
    .tablink {
        width: 240px;
        padding: 30px 0px;
        font-size: .9rem;
    }
    
    
    .tabcontent {
    
        .grid {
        display: grid;
        grid-template-columns: 55% 45%;
        }
    
        .tab-image {
            margin-left: 140px;
            margin-right: 50px;
            margin-top: 40px;
            padding: 0px 30px 90px;
            
        }
    
        .bg-image {

            .bg-shape{
                width: 75%;
                height: 70%;                
                border-bottom-right-radius: 150px;
                border-top-right-radius: 150px;
            }
    
        }
    
        .tab-text {
                margin: 120px 0px 20px 40px;
                max-width: 440px;

    
            h2 {
                font-size: 2rem;
            }
        
            p {
                font-size: 1.15rem;
                line-height: 1.7rem;
                padding: 20px 0px 0px;
                margin-bottom: 40px;
            }
        
        }
    }

.download-head {
    margin: 150px 40px 0px;
    max-width: 540px;

    h2 {
        font-size: 1.9rem;
        margin-bottom: 30px;
    }

    p {
        font-size: 1.1rem;
    }
}

.faq {
    padding:120px 30px;

    .faq-head {
        max-width: 525px;
        

        p {
            font-size: 1.1rem;
            padding-bottom: 60px;
        }
    }

    .faq-collapsibles {
        max-width: 525px;
    }
}

.collapsible {
    font-size: 1.1rem;
    }



    .bottom {

        .logo-bottom {
            padding-left: 160px;
            padding-right: 60px;
        }
    
        .bottom-links {
    
            .bottom-link {
                padding-right: 40px ;
            }
        }

        .social-links {
            margin-right: 160px;
        }

    }

}