@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');
@import 'vars';
/* Universal styles */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    text-align: center;
}

img {
    width: 100%;
}

/* Typography */

h1,
h2,
h3 {
    font-weight: 500;
}

p {
    font-weight: 400;
    color: color(neutral-greyblue);
    line-height: 1.4rem;

}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: .7rem;
    letter-spacing: 5px;
    font-weight: 400;
    text-transform: uppercase;
}

button {
    font-size: 1rem;
    font-weight: 500;
}

p {
    font-size: .9rem;
}

a {
    text-decoration: none;
}

.white-text {
    color: #fff;
}

.btn-blue {
    background-color: color(primary-blue);
    color: #fff;
    font-size: .8rem;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 16px 22px;
    border-radius: 6px;
}

.btn-blue:hover {
    background-color: #fff;
    color: color(primary-blue);
    padding: 14px 20px;
    border: 2px solid color(primary-blue);
}

.btn-grey {
    background-color: #fbfbfb;
    color: color(neutral-darkblue);
    font-size: .8rem;
    font-weight: 500;
    padding: 16px 22px;
    border-radius: 6px;
    box-shadow: 0px 5px 5px lighten(color(neutral-greyblue), 30%);
}

.btn-grey:hover {
    background-color: #fff;
    color: color(neutral-darkblue);
    padding: 14px 20px;
    border: 2px solid color(neutral-darkblue);
}

/* header section */

header {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;

    .logo {
        margin-left: 30px;
        z-index: 2;
    }

    .toggle {
        .circle {
            fill: #fff;
        }

        .logo-text {
            fill: #fff;
        }

        .bookmark {
            fill: color(neutral-darkblue);
        }
    }

    .toggle-btn {
        margin-right: 30px;
        background: none;
        border: none;
        z-index: 2;

    }

    nav {
        position: absolute;
        top: 0px;
        width: 100vw;
        height: 100vh;
        min-height: 550px;
        background: rgba(color(neutral-darkblue), .95);
        display: none;

        .nav-links {
            margin-top: 105px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .link {
                width: 100%;
                max-width: 310px;
                padding: 25px 0;
                text-transform: uppercase;
                letter-spacing: 2px;
                list-style: none;
                border-bottom: 1px solid color(neutral-greyblue);

                a {
                    color: #fff;
                }

                a:hover {
                    color: color(primary-red);
                }

            }

            .link:nth-of-type(1) {
                border-top: 1px solid color(neutral-greyblue);
            }

            .login {
                list-style: none;
                margin: 30px 0px;
                text-transform: uppercase;


                a {
                    border: 2px solid #fff;
                    border-radius: 5px;
                    padding: 10px 129px;
                    letter-spacing: 2px;
                    color: #fff;
                }

                a:hover {
                    color: color(primary-red);
                    border-color: color(primary-red);

                }
            }

        }

        .nav-social-links {
            position: absolute;

            bottom: 50px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;


            a {
                margin: 0 20px;
            }

            a:hover .icon-color {
                fill: color(primary-red);
            }

        }



    }

    ;


}

.show {
    display: block;
}

/* hero section */

.hero {
    margin-top: 80px;
    margin-bottom: 150px;

    .hero-grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .hero-image {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .hero-bg-image {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        z-index: -1;

        .bg-shape {
            background-color: color(primary-blue);
            width: 80%;
            height: 85%;
            border-bottom-left-radius: 100px;
            border-top-left-radius: 100px;
        }
    }

    .hero-content {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin-top: 50px;

        h1 {
            margin-bottom: 25px;

        }

        p {
            margin-bottom: 35px;
            padding: 0 40px;
        }

        .hero-buttons {
            display: flex;
            justify-content: center;

            .btn-blue,
            .btn-grey {
                margin: 0 5px;
            }

        }

    }
}

/* features section */

.features {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

}

.features-head {
    margin: 0px 40px 40px;
    max-width: 540px;
    align-self: center;

    h2 {
        margin-bottom: 20px;
    }
}


.tabcontent {
    margin: 50px 0;
}

.tab-links {
    margin: 0 30px;
}

.tablink {
    position: relative;
    width: 100%;
    padding: 20px 0;
    border: none;
    border-bottom: 2px solid lighten(color(neutral-greyblue), 30%);
    background: #fff;
    color: color(neutral-greyblue);
}

.tablink:hover {
    color: color(primary-red);
}

.tablink:nth-of-type(1) {
    border-top: 2px solid lighten(color(neutral-greyblue), 30%);
}

.highlight {
    position: absolute;
    bottom: -1px;
    left: 50%;
    margin-left: -72px;
    width: 144px;
    height: 5px;
    background-color: color(primary-red);
    opacity: 0;
    transition: opacity .6s;
}

.active {
    color: color(neutral-darkblue);
}

.active .highlight {
    opacity: 1;
}

.tabcontent {
    display: none;

    .grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .tab-image {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        padding: 0px 30px 32px;
    }

    .bg-image {
        display: flex;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        z-index: -1;
        justify-content: flex-start;
        align-items: flex-end;

        .bg-shape {
            background-color: color(primary-blue);
            width: 80%;
            height: 205px;
            border-bottom-right-radius: 100px;
            border-top-right-radius: 100px;
        }

    }

    .tab-text {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin: 50px 0px 20px;
        max-width: 540px;
        justify-self: center;


        p {
            padding: 20px 35px 0px;
        }

        a {
            visibility: hidden;
        }
    }
}

/* download section */

.download {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.download-head {
    margin: 50px 40px;
    max-width: 540px;

    h2 {
        margin-bottom: 20px;
    }
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 20px;
    width: 280px;
    height: 370px;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0px 10px 10px lighten(color(neutral-greyblue), 30%);

    h3 {
        margin-top: 25px;
    }

    p {
        margin-top: 10px;
    }

    hr {
        width: 100%;
        margin-top: 40px;
        border: none;
        border-top: 5px dotted transparent;
        border-image: url(../images/bg-dots.svg) 30 round;
    }

    .btn-blue {
        margin: 30px 25px 25px;
    }


}

/* FAQ section */

.faq {
    padding: 120px 30px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;

    .faq-head {
        width: 100%;
        max-width: 525px;

        h2 {
            padding-bottom: 25px;
        }

        p {
            font-size: .95rem;
            line-height: 1.5rem;
            padding-bottom: 60px;
        }
    }

    .faq-collapsibles {
        width: 100%;
        max-width: 525px;
        margin-bottom: 45px;
    }
}

.collapsible {
    width: 100%;
    max-width: 525px;
    margin: 0 auto;
    font-size: .9rem;
    text-align: left;
    padding: 20px 0px;
    margin-bottom: 10px;
    background: #fff;
    border: none;
    border-bottom: 1px solid color(neutral-greyblue);
    cursor: pointer;


    &:hover {
        color: color(primary-red);
    }

    svg {
        float: right;
    }
}

.active {
    svg {
        transform: rotate(180deg);

        .arrow {
            stroke: color(primary-red);
        }
    }
}

.collapsible-content {
    width: 100%;
    max-width: 525px;
    text-align: left;
    line-height: 1.5rem;
    overflow: hidden;
    max-height: 0;
}



/* newsletter section */

.newsletter {
    background-color: color(primary-blue);


    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .newsletter-head {
            max-width: 310px;

            h4 {
                padding-top: 70px;
            }

            h2 {
                padding: 20px 0px 30px;
            }

        }
    }

}

form {


    .form-input {
        position: relative;
        text-align: center;

        .email {

            height: 50px;
            width: 270px;
            border: 0px;
            border-radius: 5px;
            padding: 0px 20px;
            font-size: .9rem;
        }

        .error {
            border: 2px solid color(primary-red);
            z-index: 2;
        }

        #error-msg {
            position: absolute;
            width: 280px;
            padding: 5px 17px;
            margin-left: auto;
            background-color: color(primary-red);
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            top: 50px;
            z-index: 0;
            display: none;

            color: #fff;
            font-style: italic;
            text-align: left;
            font-size: .8rem;

        }

        ::placeholder {
            opacity: .4;
        }
    }

    .form-submit {
        .submit-btn {
            height: 50px;
            width: 310px;
            border: none;
            border-radius: 5px;
            padding: 0px 20px;
            background-color: color(primary-red);
            color: #fff;
            font-size: .9rem;
            margin: 14px 0 60px;
        }

        .submit-btn:hover {
            color: color(primary-red);
            background-color: #fff;
            border: 2px solid color(primary-red);
        }

        .error-btn {
            margin-top: 40px;
        }

    }
}


/* bottom section */

.bottom {
    background-color: color(neutral-darkblue);
    padding: 40px 30px;

    .bottom-links {

        padding-top: 40px;

        .bottom-link {
            list-style: none;
            padding-bottom: 30px;
            text-transform: uppercase;
            font-size: .9rem;
            letter-spacing: 2px;

            a {
                color: #fafafa;
            }

            a:hover {
                color: color(primary-red);
            }
        }
    }

    .social-links a {
        margin: 50px 20px 40px;
    }

    .social-links a:hover .icon-color {
        fill: color(primary-red);
    }
}

/* media queries */

@import 'mixins'